.sidebar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  top: 55px;
  width: 72px;
  background-color: whitesmoke;
}
/* .sidebar_link {
  height: 76px;
}

.sidebar_link:hover {
  background-color: darkgray;
  width: 50px;
  height: 50px;
} */
